@import '~bootstrap/scss/bootstrap';

body {
  //  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2));
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,66,128,1) 50%, rgba(46,109,166,1) 83%, rgba(0,212,255,1) 100%);
  color: white;
  text-align: center;
}

Form {
  text-align: center;
}
